*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --font-family: "UTMA";
    --yellow: #f1bc7a;
}
@font-face {
    font-family: "KFOl";
    src: url('../../assets/fonts/KFOl.woff2');
    font-weight: 400;
}
@font-face {
    font-family: "UTMA";
    src: url('../../assets/fonts/UTMA.woff2');
    font-weight: 400;
}
@font-face {
    font-family: "fontawesome";
    src: url('../../assets/fonts/fontawesome-webfont.woff2');
    font-weight: 400;
}
body{
    font-size: 14px;
    overflow-x: hidden;
    line-height: 22px;
}

a[href]{
    color: #fff;
    text-decoration: none;
}