*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --font-family: "UTMA";
    --yellow: #f1bc7a;
    --gray: #53382c;
}
@font-face {
    font-family: "KFOl";
    src: url('../../assets/fonts/KFOl.woff2');
    font-weight: 400;
}
@font-face {
    font-family: "UTMA";
    src: url('../../assets/fonts/UTMA.woff2');
    font-weight: 400;
}
@font-face {
    font-family: "fontawesome";
    src: url('../../assets/fonts/fontawesome-webfont.woff2');
    font-weight: 400;
}
body{
    color: #333333;
    line-height: 22px;
    font-size: 14px;
    font-family: var(--font-family);
    // overflow-x: hidden;
    // overflow-y: overlay;
}

// html *::-webkit-scrollbar{
//     border-radius: 0;
//     width: 8px;
// }

// html *::-webkit-scrollbar-thumb{
//     border-radius: 4px;
//     background-color: rgba(0, 0, 0, .15);
// }

// html *::-webkit-scrollbar-track{
//     border-radius: 0;
//     background-color: rgba(0, 0, 0, 0);
// }

a[href]{
    text-decoration: none;
}