
.menu-wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    ul{
        list-style: none;
    }
    color: #fff;
    font-family: 'Open Sans', sans-serif
}
.col-1{
    flex: 1;
    display: flex;
    text-align: center;
    margin: 0 -15px;
    
    .title{
        font-family: var(--font-family);
        line-height: 24px;
        text-transform: uppercase;
        color: #f1bc7a;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .col{
        width: 25%;
        padding: 0px 12px;
        
        ul:nth-child(2)>li>a::before{
            content: "\f0da";
            visibility: hidden;
            font-family: "fontawesome";
            transform: translateY(-50%);
            transition: all 0.3s linear;
            position: absolute;
            left: 0;
            top: 50%;
            opacity: 0;
        }

        ul:nth-child(2)>li>a{      
            display: block;
            position: relative;
            cursor: pointer;
            margin-bottom: 5px !important;
            
            &:hover{
                transition: all 0.3s linear;
                padding-left: 15px;

                &::before{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}
.col-2{
    width: 185px;
    padding: 0 15px;
    float: left;
    background-size: cover;
    background-position: center;
}

.txt{
    padding-top: 10px;
    width: 83%;
    margin-bottom: 25px;
    a{
        color: #f1bc7a !important;
        font-size: 20px;
        line-height: 26px;
        font-family: var(--font-family);
        font-weight: normal;
        padding-right: 20%;

        &:hover{
            color: #fff !important;
            transition: color linear 500ms;
        }
    }
}

.img{
    text-align: center;
    padding-bottom: 5px;
}