.wrapper-footer{
    max-width: 1200px;
    padding: 15px 0;
    margin: 0 auto;
}

.socialFoot{
    margin-right: 20px;
    ul{
        display: flex;
        list-style: none;
        align-items: center;
    }

}

.copyRight{

}

.linkFooter{

}

.linkMb{

}
