.container{
    background-color: #fff;
}

.banner{
    height: 560.289px;
    min-height: 1px;
}

.img>a{
    line-height: 0;
    display: block;
    
        img{
            width: 100%;
        }
}

.footer{
    background: #53382c;
    padding-bottom: 25px;
    // height: 25px;
}
