.box-wrapper{
    overflow: hidden;
}
.text{
    margin-bottom: 80px;
    max-width: 670px;
    text-align: justify;
}

.title{
    padding: 5px 0;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 22px;
    line-height: 30px;
    color: #53382c !important;;
    font-weight: normal !important;
}

.box-main{
    .title{
        font-size: 45px;
        line-height: 55px;
        font-weight: normal;
        text-align: left;
        color: #53382c !important;;
        margin-bottom: 20px;
        p{
            padding: 0 I !important;
        }
        strong{
            font-weight: normal !important;
        }
    }
    .product-des,.title{
        padding: 0 !important;
    }

    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: solid 1px rgba(0,0,0,0.15);
}
.product-des{
    padding: 5px 0px;
    font-family: "Open Sans", sans-serif
}