.item-link{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    // padding: 10px 17px;
    line-height: 25px;
}
.menu-item{
    font-family: var(--font-family);
    margin-right: 10px;
    padding: 10px 17px;
    // position: relative;
    &:hover{
        cursor: pointer;
        transition: all 0.3s linear;;
        background-color: #53382c;
        
        .menu-list{
            visibility: visible;
        }
    }
}

.menu-list{
    cursor: default;
    z-index: 100;
    // visibility: hidden;
    position: absolute;
    background-color: #53382c;
    top: 99.5%;
    left: 0;
    width: 1000px;
    min-width: 100%;
    padding: 15px 0;
}