.menu-item{
    color: #fff;
    font-size: 14px;
    font-family: var(--font-family);
    padding: 10px 17px;
    line-height: 25px;
    margin-right: 10px;
    
    &:hover{
        cursor: pointer;
        transition: all 0.3s linear;;
        background-color: #53382c;
    }
}