.menu-wrapper{
    min-height: calc(100vh - (120px + 60px));
}

.menu{
    padding: 50px 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;


    min-height: 340px;
    display: flex;
    justify-content: center;
    
    a{
        cursor: pointer;
    }
    &:nth-child(1){
        color: #faebd7;
        border-color: #faebd7;
        background-color: #fbedd7;
    }

    &:nth-child(2){
        color: #006400;
    }

    &:nth-child(3){
        color: #ffffff;
    }

    &:nth-child(odd){
        .wrapper{
            text-align: left;
        }

        img{
            float: right;
        }
        .caption{
            float: left;
        }
    }

    &:nth-child(even){
        .wrapper{
            text-align: right;
        }
        .caption{
            float: right;
        }
        img{
            float: left;
        }
    }

    .wrapper{
        max-width: 100%;
        padding: 0 15px;
        width: 1200px;
        position: relative;
       
        .caption{
            width: 50%;
        }

    }
}

.img-wrap{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    .img{
        pointer-events: auto;
    }
    img{
        margin-top: 12px;
        width: 50%;
    }
}
.tend{
    font-size: 40px;
    line-height: 55px;
    text-transform: uppercase;
    color: inherit;
    border-color: inherit;
    display: block;
    font-family: var(--font-family);
    margin-bottom: 20px;
    cursor: pointer;
    transition: all linear 0.2s;
    &:hover{
        color: #b22830 !important;
    }
    h3{
        font-weight: normal !important;
    }
}

.desc{
    font-size: 17px;
    line-height: 26px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: Roboto,sans-serif;
    color: inherit;
    border-color: inherit;
}

.link{
    color: inherit !important;
    border-color: inherit !important;
    a{
        display: inline-block;
        font-size: 16px;
        line-height: 24px;
        color: inherit;
        border: solid 1px #ffffff;
        border-color: inherit;
        padding: 7px 70px;
        border-radius: 5px;
        text-transform: uppercase;
        background: transparent;
    }
}
